<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <appSettings>
    <add key="SiteName" value="北京铁路局机务综合信息管理平台"/>
    <add key="SiteVersion" value="1.0.0.1115"/>
    <add key="connectionString" value="Data Source=10.91.210.3;Initial Catalog=BSYA_YA;User ID=sa;PassWord=Think123" />
    <add key="WebAPI" value="http://127.0.0.1:20016/"/>
    <add key="LingSuiXiuIPString" value="http://192.168.1.33:9005/AshxService/httpReceive.ashx" />
    <add key="ZhuanChuString" value="Data Source=192.168.1.166;Initial Catalog=GSCL2005;User ID=sa;PassWord=Think123"/>
    <!-- 获取最后一次文件结束时间，1,启用，0不启用-->
    <add key="ZhuanChuHours" value="4"/>
    <add key="ZhuanChuIsEnable" value="1"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <caching>
      <outputCache/>
    </caching>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <urlMappings enabled="true">
      <!--接口映射-->
      <clear/>
      <!--信息获取-->
      <!--1.1-->
      <add url="~/Signature" mappedUrl="App_Api/Public/Trainman/Signature.ashx"/>
      <!--1.2-->
      <add url="~/TrainmanList" mappedUrl="App_API/Public/Trainman/TrainmanList.ashx"/>
      <!--1.3-->
      <add url="~/SiteInfo" mappedUrl="App_API/Public/Site/SiteInfo.ashx"/>
      <!--1.4-->
      <add url="~/StepConfig" mappedUrl="App_API/Public/Step/StepConfig.ashx"/>
      <!--1.5-->
      <add url="~/TrainmanCQPlan" mappedUrl="App_API/Public/Plan/TrainmanCQPlan.ashx"/>
      <!--1.6-->
      <add url="~/TrainmanTQPlan" mappedUrl="App_API/Public/Plan/TrainmanTQPlan.ashx"/>
      <!--1.7-->
      <add url="~/SectionList" mappedUrl="App_API/Public/Section/SectionList.ashx"/>
      <!--1.8-->
      <add url="~/GetDutyReading" mappedUrl="App_API/Public/DutyReading/GetDutyReading.ashx"/>
      <!--1.9-->
      <add url="~/JieShiList" mappedUrl="App_API/Public/ZZJieShi/JieShiList.ashx"/>
      <!--1.10-->
      <add url="~/PUBJieShi" mappedUrl="App_API/Public/PUBJieShi/PUBJieShi.ashx"/>
      <!--1.11-->
      <add url="~/DispatchPathList" mappedUrl="App_API/Public/RunRecord/DispatchPathList.ashx"/>
      <!--1.12<add url="~/Signature" mappedUrl="App_API/Public/DutyUser/Signature.ashx" />-->
      <!--1.13-->
      <add url="~/DutyUserList" mappedUrl="App_API/Public/DutyUser/DutyUserList.ashx"/>
      <!--1.14-->
      <add url="~/Login" mappedUrl="App_API/Public/DutyUser/Login.ashx"/>
      <!--1.15-->
      <add url="~/Picture" mappedUrl="App_API/Public/Trainman/Picture.ashx"/>
      <!--1.16-->
      <add url="~/ConfirmHost" mappedUrl="App_API/Public/Site/ConfirmHost.ashx"/>
      <!--1.17-->
      <!--<add url="~/SectionList" mappedUrl="App_API/Public/Plan/SectionList.ashx" />-->
      <!--信息提交-->
      <!--2.1-->
      <add url="~/FileSubmit" mappedUrl="App_API/Public/File/FileSubmit.ashx"/>
      <!--2.2-->
      <add url="~/BeginWorkSubmit" mappedUrl="App_API/Public/Plan/BeginWorkSubmit.ashx"/>
      <!--2.3-->
      <add url="~/CommitFingerPic" mappedUrl="App_API/Public/Trainman/CommitFingerPic.ashx"/>
      <!--2.4-->
      <add url="~/FileSubmit_NoDB" mappedUrl="App_API/Public/File/FileSubmit_NoDB.ashx"/>
      <!--2.5-->
      <add url="~/EndWorkSubmit" mappedUrl="App_API/Public/Plan/EndWorkSubmit.ashx"/>
      <!--参数映射-->
      <add url="~/API" mappedUrl="Index.aspx"/>
      <add url="~/Get" mappedUrl="App_Page/Handle/Handler1.ashx"/>
      <add url="~/Index" mappedUrl="Index.aspx"/>
      <add url="~/help" mappedUrl="Help.ashx"/>
    </urlMappings>
    <!--maxRequestLength：上传的大小，单位K   ,executionTimeout：设置超时时间，单位：秒。（默认是90秒） -->
    <httpRuntime executionTimeout="36000" maxRequestLength="2097151"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
